@model Rocky_Models.ViewModels.ImageVM
<form method="post" enctype="multipart/form-data">
    <div class="col-sm-12">
        <input type="file" asp-for="Image" multiple />

        <button type="submit" class="btn btn-success"></button>
    </div>
    @*<img src="@Model.src" class="col-sm-4" />
    <img id="myImg" src="@Model.src"  alt="Snow" style="width:100%;max-width:300px">*@
    @*<embed src="@Model.src" type="application/pdf" id="myImg" style="width:100%;max-width:300px" />*@
    <iframe src="@Model.src"   id="myImg" style="width:10%;max-width:50px"></iframe>


    <!-- The Modal -->
    <div id="myModal" class="modal offset-1">
        <span class="close mt-5"><a class="btn btn-danger">close</a></span>
        @*<span class="close">X </span>
        <img class="modal-content" id="img01">*@
         <iframe  class="modal-content" id="img01" style="width:10%;max-width:50px"></iframe>
        <div id="caption"></div>
    </div>
</form>
@section scripts{
    <script>
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt; 
            modal.style.width = "80%";
            modal.style.height = "90%";
            modal.style.overflowY = "scroll";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>

}